/*body*/

.site{
    margin: 0;
    min-height: 100vh;
    /* width: 100vw; */
}


/*navbarfooter*/

.navbarfooter {
    min-height: 60px;
}

/*footer*/

.backgroundfooter {
    background-color: rgba(0, 0, 0, 0.2);
}


/*main*/

.main{
    justify-content: center;
    align-items: center;
    flex-direction:column;
    min-height: calc(100vh - 120px);
}


/*login and register*/

.input-group {
    display: flex;
    justify-content: center;
    /* width: 170px;
    margin: 0px 0px 5px 0px; */
}

.card{
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


/*cats*/

.maincards{
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
}

.cardshop {
    /* width: 350px; */
    border: 3px;
    border-color: blue;
    border-style: solid;
    border-radius: 5px
}

.containershop {
    margin: 5px 10px 5px 10px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding: 5px 5px 5px 5px;
}

.backgroundshop {
    color: #495057;
    background-color: lightcyan;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*About Us*/

.container {
    background-color: lightcyan;
    border: 3px;
    border-color: blue;
    border-style: solid;
    border-radius: 5px;
}

.subtitle {
    margin: 5px;
    font-size: 25px;
    text-align: left;
    color: rgb(13, 0, 126);
}

.inline {
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
}

.list {
    list-style-type: square;
}


/*responsivness*/

@media (max-width: 768px) {
    body, html {
        background-color: rgb(255, 205, 172) !important;
    }
    
    .format {
        width: auto;
    }
}

@media (min-width: 576px) {
    .group-cards {
        width: 130px;
        margin: 0px 5px 10px 10px;
    }

    .centerbutt {
        display: flex;
        justify-content: center;
        flex-direction:row;
    }

    .add {
        border-radius: 4px;
        margin: 0px 10px 10px 5px;
        padding-right: 12px;
        padding-left: 10px;
    }
}

@media (min-width: 768px) {
    body, html {
        background-image: url('https://wallpaperaccess.com/full/1726461.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
    }

    .format {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .format {
        width: 30%;
    }
}
